
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

Игнорировать папку docker-starter (сабмодуль)
docker-starter/* !docker-starter/.gitmodules

Игнорировать контейнерные данные, логи, временные файлы внутри docker-starter
/docker-starter/db_data/ /docker-starter/logs/ /docker-starter/.docker/

Игнорировать Laravel
.env /storage/.key /vendor/ storage/ /node_modules/

Логи
/storage/logs/* *.log

Дамп БД
*.sql *.sql.gz

Прочее
.DS_Store *.swp

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
